@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.radix-accordion__content {
  overflow: visible;
  /* オーバーフローを許可してドロップダウンを正しく表示 */
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  padding-right: 25px;
}

.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}

.custom-btn {
  width: 200px;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #00000080;
  position: relative;
  z-index: 10;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}

.custom-btn:hover {
  box-shadow: 10px 10px 30px #c00;
}

.custom-btn .img-div {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn .img-div img {
  width: 100%;
  height: auto;
}

.custom-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.custom-row:nth-child(even) {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #c00;
  color: #fff;
}